# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# OS
.DS_Store

# Environments
.venv/
.env

# Databases and caches
*.sqlite3
*.db
*.sqlite
*.log

# Local files
.env.local
.env.*.local

# Build/coverage
build/
dist/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
